*{
    box-sizing:border-box;
  }

  body{
    font-family: "Roboto", sans-serif;
    background-color:#dcdfff;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size:20px;
  }

.container{
    
}

.card{
background-color:#ffff;
border-radius:4px;
padding:50px 25px 35px 25px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card input[type="text"] {
   width:100%;
   height:40px;
   font-size:20px;
    border:1px solid grey;
    border-radius:7px;
    margin:7px 0px 7px 0px;
    padding:10px;
}

.card-top{
    display:flex;
    justify-content: left;
    gap:25px;
    padding-bottom:55px;
    
}

.card-top h2{
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: capitalize;

}


.btn-primary{
    background: #5138ee;
    border: 1px solid #5138ee;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.btn-primary:disabled{
    background-color:grey;
}

.btn-primary span{
    padding-left:10px;
}


.btn-secondary{
    background: white;
    border: 1px solid #5138ee;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  
}


.btn-primary:hover,
.btn-primary:active {
  background-color: initial;
  background-position: 0 0;
  color: #5138ee;
}


.item{
    display:flex;
    justify-content: space-between;
    background-color:#ffff;
    border-radius:15px;
    padding:15px 10px 15px 10px;
    margin:20px 0px 20px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size:18px;
    
}

.item-main{
   width:20%;

}

.item:hover{
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition:300ms;
}

.total{
    display:flex;
    justify-content: left;
    align-items: center;
    text-align:left;
    margin-top:25px;
    font-size:25px;

}
.total h5 {
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
}

.total span{
color:red;
font-weight: 500;
margin-left:15px;
}

.spn-amount{
    font-size:20px;
    
}

.charge, .amount{
padding-top:15px;
}

.alert {
    padding: 0.75rem 1.25rem;
    color: var(--mainWhite);
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    margin: 2rem auto 0 auto;
    border-radius: 2px;
    text-transform: capitalize;
    margin-top:10px;
    margin-bottom:10px;
    color:white;

    display:flex;
    gap:10px;

  }
  .alert-danger {
    background-color:crimson;
  }
  .alert-success {
    background-color:green;
  }

@media (min-width: 768px) {
    .btn-primary {
      padding: 0 2.6rem;
    }
    
  }

  @media (max-width: 768px) {
    .card-top img{
        height:80px;
    }
    
  }


